[build-system]
requires = ["cython==0.29.21", "setuptools>=58.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
test-requires = "pytest"
test-command = "pytest {project}/tests"